@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
  
}

.image1{
    background-image: url(/resources/views/layouts/images/couvreurs1.jpg) !important;
    /* background-repeat: no-repeat; */
}

/* nav a:active{
    text-decoration: overline !important;
} */